* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: aliceblue;
}

header {
  padding: 5% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-image: url('images/logo.png');
  height: 100px;
  width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
}

.navigation {
  display: flex;
  list-style: none;
  gap: 10px;
  font-size: 24px;
  color: blue;
}

.container {
  display: grid;
  padding: 5% 10%;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.meal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  background-color: royalblue;
  width: 100%;
}

.image-container {
  max-width: 100%;
}

.image {
  width: 100%;
}

footer {
  padding: 5% 10%;
}

.author {
  text-decoration: none;
  color: blue;
}

.btn {
  font-size: 16px;
  padding: 10px 20px;
  color: #fff;
  background-color: blue;
  border: 1px solid blue;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s, color 0.2s;
}

.btn:hover {
  transform: scale(1.1);
  background-color: rgb(240, 245, 255);
  color: blue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2px;
}

.title-meal {
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Ensure title doesn't overflow */
  font-size: 16px; /* Set a base font size */
}

.num-likes {
  color: #fff;
  width: 100%;
  text-align: end;
  margin-top: -25px;
}

.like-icon {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s, color 0.2s;
}

.like-icon:hover {
  transform: scale(1.2);
  color: #fff;
}

@media (min-width: 0px) and (max-width: 424px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .title-meal {
    height: 55px;
    font-size: 20px;
  }
}

@media (min-width: 425px) and (max-width: 765px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .title-meal {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .title-meal {
    height: 44px;
  }
}

@media (min-width: 1024px) {
  .title-meal {
    height: 65px;
    font-size: 24px;
  }
}
